{% extends 'base.html' %}
{% block title %}직원 추가{% endblock %}

{% block content %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <div class="form-container">
        <h2>새 직원 추가</h2>

        <!-- MUHIM: enctype multipart qo‘shildi -->
        <form id="new-staff-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter username..." id="username" class="form-control"
                   required>
            <br>

            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter password..." id="password" class="form-control"
                   required>
            <br>

            <!-- Qolgan 'staff' ma'lumotlari -->
            <label for="name">이름:</label>
            <input type="text" name="name" placeholder="이름 입력..." id="name" class="form-control" required>
            <br>

            <label for="phone">전화번호:</label>
            <input type="text" name="phone" placeholder="전화번호 입력..." id="phone" class="form-control" required>
            <br>

            <label for="bank_account">은행 계좌:</label>
            <input type="text" name="bank_account" placeholder="은행 계좌 입력..." id="bank_account" class="form-control"
                   required>
            <br>

            <label for="image">사진:</label>
            <input type="file" name="image" id="image" class="form-control" accept="image/*">
            <br>

            <button type="submit">저장</button>
        </form>
    </div>

    <!-- Style -->


{% endblock %}
