<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ko">
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar/main.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar/main.min.js"></script>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>{% block title %}홈{% endblock %}</title>

    <!-- Yagona CSS fayli -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>

<div class="sidebar">
    <h2>    {% if user.is_authenticated %}
        {{ user.username }}

    {% endif %}</h2>
    <ul>
        <li><a href="{% url 'index' %}">홈</a></li>
        <li><a href="{% url 'days' %}">날짜</a></li>
        <li><a href="{% url 'work_times' %}">근무 시간</a></li>
        <li><a href="{% url 'stuffs' %}">직원</a></li>
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">로그아웃</button>
        </form>
    </ul>
</div>

<div class="main-content">
    <!-- Login qilingan foydalanuvchi ismi yoki umumiy xabar -->


    {% block content %}
        <!-- 페이지의 주요 콘텐츠는 여기에 표시됩니다 -->
    {% endblock %}
</div>

<!-- Yagona JavaScript fayli -->
<script src="{% static 'script.js' %}"></script>

{#{% block extra_js %}{% endblock %}#}
</body>
</html>