{% extends 'base.html' %}

{% block title %}캘린더의 날짜{% endblock %}

{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div id="calendar"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    {% for detail in day_details %}
                        {
                            title: '{{ detail.staff_names|join:", " }}',
                            start: "{{ detail.date|date:'Y-m-d' }}",
                            url: "{% url 'day_detail' year=detail.date.year month=detail.date.month day=detail.date.day %}"
                        },
                    {% endfor %}
                ],
                dateClick: function (info) {
                    // 어떤 날짜를 클릭하면 day_detail 페이지로 이동
                    var date = new Date(info.dateStr);
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1; // JS에서는 월이 0부터 시작
                    var day = date.getDate();

                    // URL 형성
                    var url = `/days/${year}/${month}/${day}/`;
                    window.location.href = url;
                }
            });
            calendar.render();
        });
    </script>

{% endblock %}
