{% extends 'base.html' %}

{% block title %}{{ date }} 날짜{% endblock %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2>{{ date }} 날짜 세부 정보</h2>
    <a href="/add_worktime/" class="btn-link-button">추가</a>


    {% if details %}
        <table border="1" cellpadding="8" cellspacing="0">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>시작 시간</th>
                <th>종료 시간</th>
                <th>쉬는 시간</th>
                <th>지속 시간 (시간)</th>
            </tr>
            </thead>
            <tbody>
            {% for wt in details %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ wt.staff }}</td>
                    <td>{{ wt.start_time }}</td>
                    <td>{{ wt.end_time }}</td>
                    <td>{{ wt.break_time }}</td>
                    <td>{{ wt.total_hours }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div style="color: #c00; font-weight: bold;">
            ⚠️ 아직 이 날짜에 추가된 근무 시간이 없습니다.
        </div>
    {% endif %}

    <!-- From Uiverse.io by TaniaDou -->
    <br>
    <!-- From Uiverse.io by TaniaDou -->

{% endblock %}
