{% extends 'base.html' %}
{% load static %}

{% block title %}Home page{% endblock %}

{% block content %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<!-- Fullscreen fon videosi -->
<div class="fullscreen-bg">
    <video autoplay muted loop playsinline>
        <source src="{% static 'videos/bali.mp4' %}" type="video/mp4">
        Sizning brauzeringiz video tasvirlashni qo'llab-quvvatlamaydi.
    </video>
</div>

<!-- Mundarijangiz -->
<div class="content">
    <h1>환영합니다!</h1>
    <p>Bali 376 직원들이 여기 있습니다.</p>
</div>

{% endblock %}